Checks: "-*,\
clang-analyzer-*,\
clang-diagnostic-*,\
cert-*,\
llvm-*,\
misc-*,\
cppcoreguidelines-*,\
readability-*,\
-readability-magic-numbers,\
google-*,\
-google-readability-todo,\
-google-readability-casting,\
bugprone-*,
"