# License file
include LICENSE

# README and the files it references
include README.rst
include CHANGELOG.rst

include cmake/fixup.cmake

# C++ Source files
include CMakeLists.txt
recursive-include uiucprescon/imagevalidate CMakeLists.txt *.cpp *.h

# Running requirements
include requirements.txt Pipfile Pipfile.lock

# Tox configuration setting
include tox.ini

# Pytest tests
recursive-include tests *.py *.cpp
include tests/CMakeLists.txt

# Documentation
include docs/Makefile
include docs/make.bat
recursive-include docs/source *
prune docs/build

# Exclude binary files from source distribution
recursive-exclude * __pycache__
recursive-exclude * *.pyc
recursive-exclude * *.dll
