# License file
include LICENSE

# README and the files it references
include README.rst
include CHANGELOG.rst

include cmake/fixup.cmake

# C++ Source files
include CMakeLists.txt
include conanfile.py conan.lock
recursive-include src/uiucprescon/imagevalidate CMakeLists.txt *.cpp *.h

# Tox configuration setting
include tox.ini

# Pytest tests
recursive-include tests *.py *.cpp
include tests/CMakeLists.txt

# Documentation
include docs/Makefile
include docs/make.bat
recursive-include docs/source *
prune docs/build

# Builder
recursive-include builders *.py
