# License file
include LICENSE

# README and the files it references
include README.rst
include CHANGELOG.rst

include CMakeLists.txt
recursive-include uiucprescon/imagevalidate CMakeLists.txt *.cpp *.h

# Running requirements
include requirements.txt

# Tox configuration setting
include tox.ini

# Pytest tests
recursive-include tests *.py

# Documentation
include docs/Makefile
include docs/make.bat
recursive-include docs/source *
prune docs/build
