[[source]]
url = "https://devpi.library.illinois.edu/root/pypi/+simple/"
verify_ssl = true
name = "devpi"

[[source]]
url = "https://devpi.library.illinois.edu/production/release/+simple/"
verify_ssl = true
name = "uiuclibrary"

[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"py3exiv2bind" = "==0.1.0"
mypy = "==0.620"

[dev-packages]
pytest = "*"
tox = "*"
coverage = "*"
lxml = "*"
mypy = "*"
"flake8" = "*"
sphinx = "*"
wheel = "*"

[requires]
python_version = "3.6"
