build
conan>=2.0
coverage[toml]
cmake<4.0
delocate ; sys_platform == 'darwin'
flake8
gcovr
lxml
mypy
ninja
paramiko
pybind11
pytest
sphinx
twine
toml
tox
uiucprescon.build @ https://github.com/UIUCLibrary/uiucprescon_build/releases/download/v0.2.6/uiucprescon_build-0.2.6-py3-none-any.whl
