name: Build

on: [push, pull_request]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    env:
      PIP_EXTRA_INDEX_URL: ${{vars.PIP_EXTRA_INDEX_URL}}
      UV_EXTRA_INDEX_URL: ${{vars.PIP_EXTRA_INDEX_URL}}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - uses: actions/checkout@v3

      # Used to host cibuildwheel
      - uses: actions/setup-python@v3
      - name: Install cibuildwheel
        run: python -m pip install uv

      - name: Build wheels
        if: contains(matrix.os, 'windows')
        shell: cmd
        run: |
          "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\Common7\Tools\VsDevCmd.bat" -arch=amd64 && uv run --frozen --only-group=cibuildwheel cibuildwheel --output-dir wheelhouse
        env:
           CONAN_COMPILER_VERSION: ${{ matrix.compiler_version }}
      - name: Build wheels
        if: "!contains(matrix.os, 'windows')"
        run: uv run --frozen --only-group=cibuildwheel -m cibuildwheel --output-dir wheelhouse
        #   CIBW_SOME_OPTION: value
